body{
    margin:0;
    padding:0;
    height: 100vh;
    width: 90%;
    background-image:url(a.jpg);
    background-position: center;
    background-size: cover;
}

.signup-form{
    width:300px;
    padding: 20px;
    text-align: center;
    background: rgb(243, 217, 229);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

.signup-form h1{
    margin-top: 100px;
    color: rgb(224, 138, 210);
    font-size: 40px;
}

.signup-form input{
    display: block;
    width: 100%;
    padding: 0 16px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    border: none;
    border-radius: 16px;
}

.txt{
    margin: 20px 0;
   
}

.signup-btn{
    margin-top: 60px;
    margin-bottom: 20px;
    background: rgb(224, 138, 210);
    color:antiquewhite;
    border-radius: 44px;
    cursor: pointer;
    transition: 0.6s;
    display: block;
}

.signup-btn:hover{
    transform: scale(0.96);
    background: #fff;
    color:rgb(224, 138, 210);
}

.signup-form a{
    text-decoration: none;
    color:rgb(224, 138, 210);
    font-size: 14px;
    padding: 10px;
    transition: 0.8s;
    display: block;

}

.signup-form a:hover{
    color:rgb(134, 73, 124);
}